<h1><%= @restaurant.name %></h1>

<h2>Category:</h2>
<p><%= @restaurant.category.capitalize %></p>

<h2>Address:</h2>
<p><%= @restaurant.address %></p>


<h2>Contact:</h2>
<p><%= @restaurant.phone_number %></p>

<h2>Reviews:</h2>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %> <%= review.rating %>/5 Stars</li>
  <% end %>
</ul>

<%= link_to "Add a Review", new_restaurant_review_path(@restaurant) %>
<%= link_to "Back", restaurants_path %> |
